@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;700&family=Rubik+Moonrocks&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 300;

}
/* cabeçalho */
h1, p{
    text-align: center;
}
h1{
    margin-top: 40px;
    margin-bottom: 20px;
    color:#0396FF;
    font-weight: 700;  
}
p{
    font-family:'Rubik' ;
    font-size: 20px;
    color: #0396FF;
 
}
/* cards */
.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.card{
    display: inline-block;
    width: 300px;
    margin: 25px;
    border:2px solid #ABDCFF ;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #D3D3D3;
}
.card-imagem{
    height:400px;
    background-size:cover;
}
.card-1 .card-imagem{
    background-image: url("/img/Captura\ de\ Tela\ 2022-06-29\ às\ 11.51.43.png");  
    border-radius: 10px 10px 0 0;
}
.card-2 .card-imagem{
    background-image: url("/img/Captura\ de\ Tela\ 2022-06-29\ às\ 11.52.03.png");  
    border-radius: 10px 10px 0 0;
}
.card-3 .card-imagem{
    background-image: url("/img/victoria-duarte-weS_JaawbYM-unsplash.jpg");  
    border-radius: 10px 10px 0 0;
}
.card-4 .card-imagem{
    background-image: url("/img/Captura\ de\ Tela\ 2022-06-29\ às\ 11.50.07.png");  
    border-radius: 10px 10px 0 0;
}
.card-5 .card-imagem{
    background-image: url("/img/cat-g3661bcdde_640.jpg");  
    border-radius: 10px 10px 0 0;
}
.btn{
    display: block;
    background-color: #0396FF;
    color: white;
    margin-top: 20px;
    text-decoration: 10px;
    border: 2px solid transparent;
    font-weight: bold;
    transition: .5s;
    padding: 10px;
    border-radius: 10px;
}
.btn:hover{
    background-color:#FFF;
    color: #0396FF ;
    border-color: #0396FF;
}

.card-descricao{
    padding: 20px 10px;
}
